@model Sut.Entities.UsuarioEntidad
@{
    ViewBag.Title = "Configuración";
}

<div id="mensajes">
    @{Html.RenderPartial("_Error");}
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Actualizar Contraseña</a></li>
        <li><a href="#tab2" data-toggle="tab">Cambiar Idioma</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Configuracion", "Usuario", new { @area = "Seguridad" }, FormMethod.Post, new { @id = "form-modal-editar" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-xs-12">Clave Actual</label>
                                <div class="col-sm-6 col-xs-12">
                                    @Html.Password("ClaveActual", "", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-xs-12">Nueva Clave</label>
                                <div class="col-sm-6 col-xs-12">
                                    @Html.Password("NuevaClave", "", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-xs-12">Confirmar Clave</label>
                                <div class="col-sm-6 col-xs-12">
                                    @Html.Password("ConfirmarClave", "", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> @Resources.Content.guardar</button>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <a href="@Url.Action("ChangeLanguage", "Usuario", new { lang = "en" })">Español</a> |
            <a href="@Url.Action("ChangeLanguage", "Usuario", new { lang = "quz" })">Quechua</a>
            <br />
        </div>
        @if (Model.Rol == Sut.Entities.Rol.Administrador || Model.Rol == Sut.Entities.Rol.Coordinador)
        {
            <div class="tab-pane" id="tab3">
                <div class="col-sm-7 col-xs-3" style="white-space: nowrap;">
                    @if (Model.Entidad.Logoentidad != null)
                    {
                        <img src="~/dist/img/Logosentidades/@Model.Entidad.Logoentidad" alt="Imagen de entidad" width="215" height="215" class="img-responsive center-block" />
                    }
                    else
                    {
                        <img src="~/dist/img/Logosentidades/sin-logo.jpg" alt="Sin Imagen de entidad" width="215" height="215" class="img-responsive center-block" />
                    }
                    @Html.TextBoxFor(model => model.Entidad.Logoentidad, new { @class = "form-control input-sm", @readonly = "readonly", id = "Logoentidad" })
                    <input type="file" id="fileInput" class="form-control input-sm" accept="image/*">
                    <button type="button" class="btn btn-primary btn-sm" onclick="sut.editarEntidad.subirlogo()"><i class="fa fa-save"></i> Subir Imagen</button>
                    <p> (Tamaño max < = 02 MB, Forma: 215 px / 215 px) </p>
                </div>
            </div>
        }
        </div>
</div>



@section Script {
    <script>
        $(() => {

            $.validator.addMethod('formClave', function (value, element) {
                return this.optional(element) || value.length >= 8 && /\d/.test(value) && /[A-Z]/i.test(value) && /[^A-Za-z0-9]/.test(value) && /[A-Z]/.test(value);
            }, 'La contraseña debe contener al menos 8 caracteres, al menos un número y letras mayúsculas y minúsculas y caracteres especiales')


            $('#form-modal-editar').validate({
                errorPlacement: (error, element) => {
                    if (element.parent('div.input-group').length > 0) {
                        error.insertAfter(element.parent('div.input-group'));
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    ClaveActual: {
                        required: true,
                        minlength: 4
                    },
                    NuevaClave: {
                        required: true, formClave: true
                    },
                    ConfirmarClave: {
                        required: true,
                        equalTo: 'input[name="NuevaClave"]',, formClave: true
                    }
                },
                messages: {

                }
            });
        });
    </script>
}