@model List<Sut.Entities.Usuario>
@{
    ViewBag.Title = "Usuarios";
    ViewBag.Descripcion = "Registro de Usuarios";
}

<div id="mensajes"></div>

<div class="row">
    <div class="col-xs-12">
        <div id="boxLista" class="box box-danger">
            <div class="box-body">
                <a class="btn btn-success" href="javascript:sut.Usuario.editar(0)"><i class="fa fa-plus"></i> Nuevo</a>
                <a class="btn btn-primary " id="descargar" href="javascript:sut.Usuario.Descargar()"><i class="fa fa-download"></i>Descargar</a>

                <a class="btn btn-facebook" id="filtro" href="javascript:sut.Usuario.filtro()"><i class="fa fa-filter"></i>Más Filtros</a>
                <a class="btn btn-facebook" id="quitarfiltro" href="javascript:sut.Usuario.quitarfiltro()"><i class="fa fa-filter"></i> Quitar Filtro</a>
                <a class="text tab-content" id="cantusuario"></a>
                <br /><br />
                <div class="table-responsive">

                    <div style="margin: 1rem;padding: 1rem; border-top-color: #dd4b39;border: 3px solid #d2d6de;" id="idFiltros">

                        <label style="padding: 0.5rem;" class="col-sm-1 col-xs-2 control-label">Departamento :</label>
                        <div class="col-sm-2 col-xs-2">
                            @Html.DropDownList("filtroDepartamento", ViewBag.ListaDepartamento as List<SelectListItem>, new { @id = "DepartamentoId", @class = "form-control" })
                        </div>

                        <label style="padding: 0.5rem;" class="col-sm-1 col-xs-2 control-label">Provincia :</label>
                        <div class="col-sm-2 col-xs-2">
                            @Html.DropDownList("filtroProvincia", ViewBag.ListaProvincia as List<SelectListItem>, new { @id = "ProvinciaId", @class = "form-control" })
                        </div>

                        <label style="padding: 0.5rem;" class="col-sm-1 col-xs-2 control-label">Fecha Creación :</label>
                        <div class="col-sm-2 col-xs-2">
                            <input id="txtFilterCreacion" type="text" class="form-control input-sm" />
                        </div>

                        <label style="padding: 0.5rem;" class="col-sm-1 col-xs-2 control-label">Rol de Equipo :</label>
                        <div class="col-sm-2 col-xs-2">
                            @Html.DropDownList("cbFilterRol", ViewBag.ListaRol as List<SelectListItem>, new { @id = "cbFilterRol", @class = "form-control input-sm" })
                        </div>
                        <br />
                        <br />
                        <br />
                        <label style="padding: 0.5rem;" class="col-sm-1 col-xs-2 control-label">Estado :</label>
                        <div class="col-sm-2 col-xs-2">
                            @Html.DropDownList("filtroEstado", ViewBag.publicarEstado as List<SelectListItem>, new { @id = "cbFilterEstado", @class = "form-control" })
                        </div>

                        <a class="btn btn-facebook" id="aplicarfiltro" href="javascript:sut.Usuario.listar(1)"><i class="fa fa-filter"></i> Buscar</a>

                    </div>


                    <table id="tblLista" class="table table-bordered table-striped table-hover"
                           data-pagesize="100"
                           data-page="1"
                           data-totalrows="0"
                           data-function="sut.Usuario.listar"
                           data-paginator="paginator">
                        <thead>
                            <tr>
                                <th class="colAction">Nro.</th>
                                <th style="margin: 0.5rem;padding: 1rem;width: 10px">Nro. Doc. Identidad</th>
                                <th style="margin: 0.5rem;padding: 1rem;">Apellidos y Nombres</th>
                                <th style="margin: 0.5rem;padding: 1rem;">Entidad</th>
                                <th rowspan="2" style="margin: 0.5rem;padding: 1rem;vertical-align: middle !important;">Fecha Creación</th>
                                <th rowspan="2" style="margin: 0.5rem;padding: 1rem;vertical-align: middle !important;">Rol</th>
                                <th rowspan="2" style="margin: 0.5rem;padding: 1rem;vertical-align: middle !important;">Estado</th>
                                <th rowspan="2" style="margin: 0.5rem;padding: 1rem;vertical-align: middle !important;">correo</th>
                                <th rowspan="2" class="colAction"></th>
                            </tr>
                            <tr>
                                <th><button class="btn btn-default btn-xs" title="Borrar Filtros" data-toggle="tooltip" data-placement="right"><i class="fa fa-filter"></i></button></th>
                                <th><input id="txtFilterNroDocumento" type="text" class="form-control input-sm" /></th>
                                <th><input id="txtFilterNombreCompleto" type="text" class="form-control input-sm" /></th>
                                <th><input id="txtFilterEntidad" type="text" class="form-control input-sm" /></th>
                                @*<th><input id="txtFilterCreacion" type="text" class="form-control input-sm" /></th>
                        <th>@Html.DropDownList("cbFilterRol", ViewBag.ListaRol as List<SelectListItem>, new { @id = "cbFilterRol", @class = "form-control input-sm" })</th>
                        <th>@Html.DropDownList("filtroEstado", ViewBag.publicarEstado as List<SelectListItem>, new { @id = "cbFilterEstado", @class = "form-control" })</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr><td colspan="8"><div id="paginator"></div></td></tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ventana">
    <div id="ventana-container">

    </div>
</div>

@section Style {
    <style type="text/css">
        table#tblLista thead tr th {
            text-align: center;
        }

        table#tblLista tbody tr td[colspan="6"] {
            font-weight: bold;
            text-align: center;
        }

        #tblLista .colNro {
            width: 40px;
            text-align: center;
        }

        #tblLista .colAction {
            width: 30px;
        }

        #tblLista tfoot .pagination {
            margin: 0px 0px;
        }
    </style>
}

@section Script {
    <script>

        sut.Usuario = {
            editar: (id) => {
                $.ajax({
                    type: "GET",
                    //url: '/Seguridad/Usuario/Editar',
                    url: '@Url.Content("~/Seguridad/Usuario/Editar")',
                    data: { id: id },
                    cache: false,
                    beforeSend: () => {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: (data) => {
                        $('#ventana-container').html(data);
                    },
                    error: (result) => {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    },
                    statusCode: {
                        203: () => { window.location.reload(); }
                    }
                });
            },
             Descargar: function () {

                document.location.target='_blank';
                window.location.href = "@Url.Content("~/General/Reporte/rptUsuario")";


            },
            filtro: function () {

                $("#idFiltros").show();
                $("#quitarfiltro").show();
                $("#filtro").hide();

            },
            init:function () {
                $("#idFiltros").hide();
                $("#quitarfiltro").hide();
                $("#filtro").show();
            },
            quitarfiltro:function () {

                $('#txtFilterNroDocumento').val('');
                $('#txtFilterEntidad').val('');
                $('#txtFilterNombreCompleto').val('');
                $('#txtFilterCargo').val('');
                $('#txtFilterCorreo').val('');
                $('#txtFilterCreacion').val('');
                $('#cbFilterEstado').val('0');
                $('#cbFilterRolEquipo').val('0');
                $('#ProvinciaId').val('0');
                $('#DepartamentoId').val('0');
                $("#idFiltros").hide();
                $("#quitarfiltro").hide();
                $("#filtro").show();
                sut.Usuario.listar(1);
            },
            listar: (page) => {
                table = $('#tblLista');
                var model = {
                    'filtro.NroDocumento': $('#txtFilterNroDocumento').val(),
                    'filtro.MiembroEquipo.NombreCompletoBuscar': $("#txtFilterNombreCompleto").val(),
                    'filtro.Entidad.Nombre': $('#txtFilterEntidad').val(),
                    'filtro.FilterRol': $('#cbFilterRol').val(),
                    'filtro.FecCreaciontexto': $('#txtFilterCreacion').val().trim(),
                    'filtro.ProvinciaId': $('#ProvinciaId').val(),
                    'filtro.EstadoId': $('#cbFilterEstado').val(),
                    pageIndex: page,
                    pageSize: table.data('pagesize')
                };
                $.ajax({
                    //url: "/Seguridad/Usuario/GetAllLikePagin",
                    url: '@Url.Content("~/Seguridad/Usuario/GetAllLikePagin")',
                    type: "GET",
                    data: model,
                    dataType: "json",
                    beforeSend: () => {
                        sut.wait.appendOverlay('#boxLista');
                    },
                    success: (data) => {
                        sut.wait.removeOverlay('#boxLista');
                        table.data('page', page);
                        table.data('totalrows', data.totalRows);
                        sut.Usuario.generar(data.lista);
                        if (data.totalRows == 0) $('#tblLista tbody').append("<tr><td colspan='6' class='text-center text-bold'>NO SE ENCONTRARON REGISTROS.</td></td>");
                        document.getElementById('cantusuario').innerHTML = ' Cantidad de Usuarios  : ' + data.totalRows;
                    },
                    error: (data) => {
                        sut.error.show('mensajes', data.responseText);
                    },
                    statusCode: {
                        203: () => { window.location.reload(); }
                    }
                });
            },
            generar: (lista) => { 
                var roltitulo = '';
                var table = $('#tblLista');
                var tabla = table.children('tbody');
                tabla.children('tr').remove();
                var rows = '';
                var numero = (table.data('pagesize') * table.data('page')) - table.data('pagesize');
                $.each(lista, (i, r) => {
                    rows += sut.string.format('<tr><td class="colNro" >{0}</td>', ++numero);
                    rows += sut.string.format('<td>{0}</td>', r.NroDocumento);
                    rows += sut.string.format('<td>{0}</td>', r.NombreCompleto);
                    rows += sut.string.format('<td>{0}</td>', r.Entidad);
                    if (r.Rol == 'Coordinador') {
                        var roltitulo = 'Administrador SUT';
                    } else if (r.Rol == 'Administrador')
                    {
                        var roltitulo = 'Administrador SGP';
                    } else if (r.Rol == 'usuariolocador') {
                        var roltitulo = 'Accesos a Consultores';
                    } else {
                        var roltitulo = r.Rol;
                    }
                    rows += sut.string.format('<td style="text-align: center;width: 110px;" >{0}</td>', r.FecCreacion);

                    if (r.asigEntidad == 1) {

                        rows += sut.string.format('<td>{0}', roltitulo);
                        rows += '<div class="btn-group">';
                        //rows += sut.string.format('<a class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="Editar" href="javascript:sut.Usuario.editar({0})" ><i class="fa fa-pencil"></i></a>', r.UsuarioId);

                        rows += sut.string.format('<a class="btn btn-success btn-xs"   data-placement="left" title="Editar Menú" href="javascript:sut.Usuario.detalleentidad({0},{1})" ><i class="fa fa-list-alt"></i></a>', r.UsuarioId, r.EntidadId);

                        rows += '</div>';
                        rows += '</td>';

                    } else {

                        rows += sut.string.format('<td>{0}', roltitulo);
                    }

              /*      rows += sut.string.format('<td>{0}</td>', roltitulo);*/



                    if (r.Estado == 1) {
                        var estadotitulo = 'Activo';
                    } else if (r.Estado == 2) {
                        var estadotitulo = 'Suspendido';
                    } else {
                        var estadotitulo = 'Baja';
                    }
                    rows += sut.string.format('<td style="text-align: center;;width: 50px;" >{0}</td>', estadotitulo);

                    if (r.ActivarCorreo == 1) {
                        var ActivarCorreo = 'Activo';
                    } else if (r.ActivarCorreo == 0) {
                        var ActivarCorreo = 'No Activo';
                    }
                    rows += sut.string.format('<td style="text-align: center;;width: 50px;" >{0}</td>', ActivarCorreo);
                    rows += '<td>';
                    rows += '<div class="btn-group">';
                    rows += sut.string.format('<a class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="Editar" href="javascript:sut.Usuario.editar({0})" ><i class="fa fa-pencil"></i></a>', r.UsuarioId, r.UsuarioId);
                    rows += '</div>';
                    rows += '</td>';
                    rows += '</tr>';
                });
                sut.pagination.update(table);
                tabla.append(rows);
            },
            detalleentidad: function (Id, entidaId) {
                 
                debugger;
                window.location = "@Url.Content("~/Seguridad/Entidad/Listadetalleentidad")?id=" + Id + '&entidaId=' + entidaId; 

            },
        };

        $(() => {
            sut.Usuario.listar(1);
            sut.Usuario.init();


            $('#DepartamentoId').on('change', (e) => {


                $.ajax({
                    type: "POST",
                    //url: "/Seguridad/Entidad/GetProvincias",
                    url: '@Url.Content("~/Seguridad/Miembro/GetProvincias")',
                    data: { id: $('#DepartamentoId').val() },
                    dataType: 'json',
                    beforeSend: function () {
                    },
                    complete: function () {
                    },
                    success: function (result) {


                        debugger;

                        var sel = $('#ProvinciaId');
                        sel.find('option').remove();
                        $.each(result.data, (i, r) => {
                            sel.append($('<option></option>').attr('value', r.ProvinciaId).html(r.Nombre));
                        });

                    },
                    error: function (result) {
                        sut.error.show('msgEditar', result.responseText);
                    }
                });
            });



            //$('#cbFilterRol').change((e) => {
            //    sut.Usuario.listar(1);
            //});
            $('#txtFilterNroDocumento, #txtFilterEntidad, #txtFilterCargo, #txtFilterNombreCompleto').keypress((e) => {
                var key = e.keyCode || event.keyCode;
                if (key == 13) sut.Usuario.listar(1);
            });


            //$('#cbFilterEstado').change((e) => {
            //    sut.Usuario.listar(1);
            //});

            $('#tblLista thead button').click((e) => {
                $('#txtFilterNroDocumento').val('');
                $('#txtFilterEntidad').val('');
                $('#txtFilterCargo').val('');
                $('#txtFilterCreacion').val('');
                $('#cbFilterEstado').val('0');
                $('#cbFilterRol').val('0');
                $('#ProvinciaId').val('0');
                $('#DepartamentoId').val('0');
                sut.Usuario.listar(1);
            });
        });
    </script>
}