@model Sut.Entities.DocumentosNorma
@{
    Sut.Security.UsuarioInfo user = ViewBag.Usuario as Sut.Security.UsuarioInfo; 
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body form-horizontal">
            @using (Html.BeginForm("Guardar", "Seguridad/Ayuda", FormMethod.Post, new { @id = "form-modal-editar" }))
            {
                @Html.HiddenFor(model => model.DocumentosNormaID)
                @Html.HiddenFor(model => model.ArchivoAdjuntoId)



                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">Descripcion </label>
                    <div class="col-sm-9 col-xs-12">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">Fecha de Publicación</label>
                    <div class="col-sm-9 col-xs-12">
                        @if (Model.DocumentosNormaID == 0)
                        {
                            <input type="text" name="FechaPublicacion" class="form-control input-sm" value="" />

                        }
                        else
                        {
                            <input type="text" name="FechaPublicacion" class="form-control input-sm" value="@MvcHtmlString.Create(Model.FechaPublicacion == null ? "" : string.Format("{0:D2}/{1:D2}/{2}", Model.FechaPublicacion.Day, Model.FechaPublicacion.Month, Model.FechaPublicacion.Year))" />

                        }

                    </div>
                </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Publicar </label>
                        <div class="col-sm-9 col-xs-12">
                            @Html.DropDownListFor(model => model.Estado, ViewBag.publicar as List<SelectListItem>, new { @class = "form-control input-sm"  })
                        </div>
                    </div>




            }
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form-archivo-adjunto", @enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">Archivo</label>
                    <div class="col-sm-9 col-xs-12">
                        @Html.HiddenFor(model => model.ArchivoAdjuntoId)
                        <div class="col-sm-12 col-xs-12 file-list @MvcHtmlString.Create(Model.ArchivoAdjunto != null ? "" : "file-empty")">
                            <ul>
                                <li>
                                    <span class="text">
                                        <i class="fa fa-file"></i> 
                                        <a href="@MvcHtmlString.Create(Model.ArchivoAdjunto != null ? @Url.Content(string.Format("~/General/Adjunto/Descargar/{0}", Model.ArchivoAdjunto.ArchivoAdjuntoId)) : "")" target="_blank">
                                            @MvcHtmlString.Create(Model.ArchivoAdjunto != null ? Model.ArchivoAdjunto.NombreArchivo : "")
                                        </a>
                                    </span>
                                    <div class="tools">
                                        <i class="fa fa-remove"></i>
                                    </div>
                                </li>
                            </ul>
                            @Html.TextBox("PostedFile", "", new { @type = "file", @class = "form-control" })
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="msgEditar"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="sut.EditarNorma.guardar()"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ventana-editar">
    <div id="ventana-container-editar">

    </div>
</div>

<script>

    sut.EditarNorma = {
        guardar: function () {
            if ($("#form-modal-editar").valid()) {
                $('#form-modal-editar input[name="ArchivoAdjuntoId"]').val($('#form-archivo-adjunto input[name="ArchivoAdjuntoId"]').val());
                var model = $('#form-modal-editar').serialize();
                $.ajax({
                    type: "POST",
                    //url: "/Seguridad/Portada/GuardarNorma",
                    url: '@Url.Content("~/Seguridad/Portada/GuardarNorma")',
                    data: model,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#msgEditar").hide();
                        sut.wait.appendProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).attr("disabled", "disabled");
                        $('#form-modal-editar button').eq(1).attr("disabled", "disabled");
                    },
                    complete: function () {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                    },
                    success: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.msg.success(result.mensaje, function () {

                            sut.portada.listarnorma(1);
                            sut.portada.listaractividades(1);
                        });
                    },
                    error: function (result) {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                        sut.error.show('msgEditar', result.responseText);
                    }
                });
            }
        }
    };

    $(function () {
        debugger;
        sut.control.uploadfileTodo('form-archivo-adjunto');

        //$('input[name="FechaPublicacion"]').datepicker({ format: 'dd/mm/yyyy' }); 
        $('input[name="FechaPublicacion"]').datepicker({ format: 'dd/mm/yyyy', endDate: '+0d', language: 'es' });

        $('#form-modal-editar').validate({
            errorPlacement: function (error, element) {
                if (element.parent('div.input-group').length > 0) {
                    error.insertAfter(element.parent('div.input-group'));
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                Descripcion: 'required',
                Fecha: 'required',
            },
            messages: {

            }
        });


    });

</script>


