@using Sut.Entities;
@model Sut.Entities.Procedimiento
@{
    ViewBag.Icon = "fa fa-file-text-o";
    ViewBag.Title = "Editar";
    ViewBag.Descripcion = "";
    Sut.Entities.Expediente exp = ViewBag.Expediente as Sut.Entities.Expediente;
}
<div id="mensajes">
    @{Html.RenderPartial("_Error");}
</div>

<div class="box box-danger">
    <div style="position: absolute;right: 15px;top: -60px; margin-bottom: 0;">
        <div id="divBotones">
            <div class="box-body">
                <div class="btn-group pull-right">
                    @*<a href="javascript:sut.editarProcedimiento.salir('~/Simplificacion/Expediente/Editar/@Model.ExpedienteId')" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Volver</a>*@
                    <a href="javascript:sut.editarProcedimiento.salir('@Url.Content("~/Simplificacion/Expediente/Editar/")@Model.ExpedienteId')" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Volver</a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("EditarNuevo", "Procedimiento", FormMethod.Post, new { @id = "form-editarnuevo", @class = "form-horizontal" }))
    {
        <div class="box-body">
            @Html.HiddenFor(model => model.ExpedienteId)
            @Html.HiddenFor(model => model.ProcedimientoId)
            @Html.HiddenFor(model => model.Numero)
            @Html.HiddenFor(model => model.TipoProcedimiento)
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label">Denominación :</label>
                <div class="col-sm-10 col-xs-12">

                    @if (exp.EstadoExpediente == EstadoExpediente.Aprobado || exp.EstadoExpediente == EstadoExpediente.Publicado)
                    {
                        @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm", @readonly = "readonly" })
                    }
                    else if (Model.CodigoACR != "0")
                    {
                        if (Model.Activar2 == 0)
                        {
                            @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm" })
                        }
                    }
                    else if (Model.TipoProcedimiento == TipoProcedimiento.Procedimiento || Model.TipoProcedimiento == TipoProcedimiento.Servicio)
                    {

                        @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm" })

                    }
                    else if (Model.TipoProcedimiento != TipoProcedimiento.Estandar || Model.TipoProcedimiento != TipoProcedimiento.EstandarServicio)
                    {
                        if (Model.Activar2 == 0)
                        {
                            @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm" })
                        }
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Denominacion, new { @class = "form-control input-sm" })
                    }

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label">Tipo :</label>
                <div class="col-sm-5 col-xs-12">
                    @if (exp.EstadoExpediente == EstadoExpediente.Aprobado || exp.EstadoExpediente == EstadoExpediente.Publicado)
                    {

                        @Html.DropDownListFor(model => model.TipoProcedimiento, ViewBag.ListTipo as List<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.TipoProcedimiento, ViewBag.ListTipo as List<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })

                        @*@Html.HiddenFor(model => model.TipoProcedimiento)
                            {
                                string tipo = string.Empty;
                                List<SelectListItem> lstTipo = ViewBag.ListTipo as List<SelectListItem>;
                                tipo = lstTipo.First(x => x.Value == ((short)Model.TipoProcedimiento).ToString()).Text;
                            }


                            <label id="NombreTipo" name="NombreTipo" class="form-control" style="border-color:#ddd;background: #eeeeee;font-weight: 600;">@Html.DisplayFor(model => model.TipoProcedimiento)</label>*@

                    }

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label">Categoría Principal :</label>
                <div class="col-sm-5 col-xs-6">
                    @Html.DropDownListFor(model => model.CategoriaProcedimientoId, ViewBag.ListaCategoria as List<SelectListItem>, new { @class = "form-control" })
                </div>
                <div class="col-sm-1 col-xs-2">
                    @*<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Agregar </button>*@
                    @*<a id="boton" class="btn btn-primary pull-right" href="#">Agregar Más Categorias</a>*@
                    <a id="add_fieldPersonal" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" style="padding: 1px 9px;"><i class="fa fa-plus"></i></a>
                    @*<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                            Editar Más Categorias
                        </button>*@
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label">Tipo Trámite :</label>
                <div class="col-sm-5 col-xs-12">
                    @Html.DropDownListFor(model => model.TipoProcedimientoId, ViewBag.ListaSubTipo as List<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
            @if ((ViewBag.Entidad as Sut.Entities.Entidad).TipoTupa != Sut.Entities.TipoTupa.Estandar)
            {
                if (exp.EstadoExpediente == EstadoExpediente.Aprobado || exp.EstadoExpediente == EstadoExpediente.Publicado)
                {
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo:</label>
                        <div class="col-sm-10 col-xs-12">
                            @Html.HiddenFor(model => model.UndOrgResponsableId)
                            @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <table class="table table-condensed table-bordered table-striped" id="tablaReconsideracion1" style="margin-bottom: 0px;">
                        <tbody></tbody>
                    </table>

                    @*if (Model.UndOrgResponsableId2 != 0)
                            {
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo:</label>
                            <div class="col-sm-10 col-xs-12">
                                @Html.HiddenFor(model => model.UndOrgResponsableId2)
                                @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre2, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                            }
                            if (Model.UndOrgResponsableId3 != 0)
                            {
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo:</label>
                            <div class="col-sm-10 col-xs-12">
                                @Html.HiddenFor(model => model.UndOrgResponsableId3)
                                @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre3, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                            }
                            if (Model.UndOrgResponsableId4 != 0)
                            {
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo:</label>
                            <div class="col-sm-10 col-xs-12">
                                @Html.HiddenFor(model => model.UndOrgResponsableId4)
                                @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre4, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                            }
                            if (Model.UndOrgResponsableId5 != 0)
                            {
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo:</label>
                            <div class="col-sm-10 col-xs-12">
                                @Html.HiddenFor(model => model.UndOrgResponsableId5)
                                @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre5, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                            }*@
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo 1 :</label>
                        <div class="col-sm-10 col-xs-12">
                            <div class="input-group" style="width:900px">
                                @Html.HiddenFor(model => model.UndOrgResponsableId)
                                @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre, new { @class = "form-control", @readonly = "readonly" })

                                <div class="input-group-btn">
                                    <a href="javascript:sut.editarProcedimiento.openSelectUndOrg()" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="javascript:sut.editarProcedimiento.addcargo()" class=" btn btn-xs btn-success"><i class="fa fa-plus"></i> Agregar</a>
                        <div class="col-sm-1 col-xs-12">

                        </div>
                    </div>
                    <table class="table table-condensed table-bordered table-striped" id="tablaReconsideracion1" style="margin-bottom: 0px;">
                        <tbody></tbody>
                    </table>

                    @*<div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo 2 :</label>
                            <div class="col-sm-10 col-xs-12">
                                <div class="input-group">
                                    @Html.HiddenFor(model => model.UndOrgResponsableId2)
                                    @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre2, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <a href="javascript:sut.editarProcedimiento.openSelectUndOrg2()" class="btn btn-danger"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>                            (No es obligatorio )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo 3 :</label>
                            <div class="col-sm-10 col-xs-12">
                                <div class="input-group">
                                    @Html.HiddenFor(model => model.UndOrgResponsableId3)
                                    @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre3, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <a href="javascript:sut.editarProcedimiento.openSelectUndOrg3()" class="btn btn-danger"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>(No es obligatorio )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo 4 :</label>
                            <div class="col-sm-10 col-xs-12">
                                <div class="input-group">
                                    @Html.HiddenFor(model => model.UndOrgResponsableId4)
                                    @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre4, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <a href="javascript:sut.editarProcedimiento.openSelectUndOrg4()" class="btn btn-danger"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>(No es obligatorio )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-xs-12 control-label">Dependencia a Cargo 5 :</label>
                            <div class="col-sm-10 col-xs-12">
                                <div class="input-group">
                                    @Html.HiddenFor(model => model.UndOrgResponsableId5)
                                    @Html.TextBoxFor(model => model.UndOrgResponsable.Nombre5, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <a href="javascript:sut.editarProcedimiento.openSelectUndOrg5()" class="btn btn-danger"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>(No es obligatorio )
                            </div>
                        </div>*@
                }
            }
        </div>
        <div class="box-footer">

            @if (exp.EstadoExpediente != EstadoExpediente.Aprobado)
            {
                if (ViewBag.User.rolmenu[0].Guardar == true)
                {
                    <button type="submit" id="btnGuardar" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Guardar</button>
                }
            }
            <div class="col-xs-10" id="capa">

            </div>
        </div>

    }
</div>

<div class="modal fade" id="modal-ventana">
    <div id="ventana-container">
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Categorias</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="tblBuscarUndOrganicacat" class="table table-bordered table-striped table-hover"
                           data-pagesize="40"
                           data-page="1"
                           data-totalrows="0"
                           data-function="sut.editarProcedimiento.listarcategoria"
                           data-paginator="paginator">
                        <thead>
                            <tr>
                                <th class="colCheck">


                                </th>
                                <th>Categorias</th>
                            </tr>

                        </thead>
                        <tbody></tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                @if (exp.EstadoExpediente != EstadoExpediente.Aprobado)
                {
                    if (ViewBag.User.rolmenu[0].Guardar == true)
                    {
                        <a href="javascript:sut.editarProcedimiento.guardarcategoria()" class="btn btn-primary pull-right"> Guardar</a>
                    }
                }

            </div>
        </div>
    </div>
</div>
@section Script {
    <script>
        var div = document.getElementById('capa');
        var but = document.getElementById('boton');
        var guardar = document.getElementById('btnGuardar');

        //la funcion que oculta y muestra
        //function showHide(e) {
        //    e.preventDefault();
        //    e.stopPropagation();
        //    if (div.style.display == "none") {
        //        div.style.display = "block"; sut.editarProcedimiento.listarcategoria('tblBuscarUndOrganicacat', 1);
        //    } else if (div.style.display == "block") {
        //        div.style.display = "none";
        //    }
        //}
        ////al hacer click en el boton
        //but.addEventListener("click", showHide, false);

        //funcion para cualquier clic en el documento
        //document.addEventListener("click", function (e) {


        //}, false);





        sut.editarProcedimiento = {
            listarcategoria: function (table, page) {
                debugger;
                table = $('#' + table);
                var model = {
                    'pageIndex': page,
                    'pageSize': table.data('pagesize'),
                    'idpro':@Model.ProcedimientoId,
                    'idex' :@Model.ExpedienteId,
                };

                $.ajax({
                    url: '@Url.Content("~/Simplificacion/Procedimiento/GetAllLikePagincategoria")',
                    type: 'GET',
                    data: model,
                    dataType: 'json',
                    beforeSend: function () {
                        sut.wait.appendProgress('#buscarUnidadOrganicacat .modal-footer');
                    },
                    success: function (data) {
                        sut.wait.removeProgress('#buscarUnidadOrganicacat .modal-footer');
                        table.data('page', page);
                        table.data('totalrows', data.totalRows);
                        sut.editarProcedimiento.generar(table, data.lista,data.lista2);
                        //if (data.totalRows == 0)
                        //$('#tblBuscarUndOrganicacat tbody').append('<tr><td colspan="2" class="text-center text-bold">NO EXISTEN REGISTROS</td></td>');
                    },
                    error: function (data) {
                        sut.error.show('mensajes', data.responseText);
                    }
                });
            }, generar: function (table, lista,lista2) {
                debugger;
                var tabla = table.children('tbody');
                tabla.children('tr').remove();
                var rows = '';
                var numero = (table.data('pagesize') * table.data('page')) - table.data('pagesize');
                var ver;
                var j=null;
                if (lista2.length ==0 ){

                    $.each(lista, function (i, r) {

                        rows += sut.string.format('<tr class="rowselect" ><td><input id="chkbuscarUndOrg{1}" class="icheck" type="checkbox"  value="{1}|{0}" /></td><td>{0}</td></tr>',
                            r.Nombre, r.Codigo);
                    });
                }else{

                    $.each(lista2, function (i, r) {

                        $.each(lista, function (i2, r2) {
                            if(r2.Codigo==r.CategoriaProcedimientoId){

                                rows += sut.string.format('<tr class="rowselect" ><td><input id="chkbuscarUndOrg{1}" class="icheck" type="checkbox" checked value="{1}|{0}" /></td><td>{0}</td></tr>',
                                  r2.Nombre, r2.Codigo);
                                j=i2;
                                return false;
                            }else
                            {
                                if(j==null)
                                {
                                    rows += sut.string.format('<tr class="rowselect" ><td><input id="chkbuscarUndOrg{1}" class="icheck" type="checkbox"  value="{1}|{0}" /></td><td>{0}</td></tr>',
                                       r2.Nombre, r2.Codigo);
                                }else
                                    if(i2>j){
                                        rows += sut.string.format('<tr class="rowselect" ><td><input id="chkbuscarUndOrg{1}" class="icheck" type="checkbox"  value="{1}|{0}" /></td><td>{0}</td></tr>',
                                            r2.Nombre, r2.Codigo);
                                    }
                            }

                        });
                        ver=i;
                    });


                    $.each(lista, function (i5, r) {

                        if(j<i5){
                            rows += sut.string.format('<tr class="rowselect" ><td><input id="chkbuscarUndOrg{1}" class="icheck" type="checkbox"  value="{1}|{0}" /></td><td>{0}</td></tr>',
                                r.Nombre, r.Codigo);
                        }

                    });


                }

                sut.pagination.update(table);
                tabla.append(rows);


            },
            openSelectUndOrg: function () {
                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: 'sut.editarProcedimiento.setUndOrg' },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },

            @*openSelectUndOrg2: function () {
                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: 'sut.editarProcedimiento.setUndOrg2' },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },
            openSelectUndOrg3: function () {
                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: 'sut.editarProcedimiento.setUndOrg3' },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },

            openSelectUndOrg4: function () {
                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: 'sut.editarProcedimiento.setUndOrg4' },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },

            openSelectUndOrg5: function () {
                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: 'sut.editarProcedimiento.setUndOrg5' },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },*@
            openSelectUndOrgDinamico: function (fnAdd,tipo,num) {

                $.ajax({
                    type: "GET",
                    //url: '/Simplificacion/UnidadOrganica/Select',
                    url: '@Url.Content("~/Simplificacion/UnidadOrganica/Select")',
                    data: { multi: false, fnAdd: fnAdd, tipo: tipo, num: num },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#ventana-container').html(data);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },
            initcargo: function () {
                var lista = @Html.Raw(ViewBag.ProcedimientoUndOrgResponsable != null ? ViewBag.ProcedimientoUndOrgResponsable : "[]");
                var tabla = $('#tablaReconsideracion1 tbody');
                var num = 1;
                if (lista.length > 0) {
                    var data = [];
                    $.each(lista, function (i, r) {

                        num = i ;
                        var rows = '';

                        rows += sut.string.format('<tr data-index="{0}" class="requisito" >', i);
                        rows += '<td style="width: 310px;">';
                        rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].ProcedimientoUndOrgResponsableID" value="{1}" />', i, r.ProcedimientoUndOrgResponsableID);
                        rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].ProcedimientoId" value="{1}" />', i, r.ProcedimientoId);
                        rows += '</td>';

                        rows += sut.string.format('<td style="text-align: center;width: 900px;">');
                        rows += sut.string.format('<div class="input-group">');
                        rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].UndOrgResponsableId2" value="{1}" />', i, r.UndOrgResponsableId2);
                        rows += sut.string.format('<input type="text" name="ProcedimientoUndOrgResponsable[{0}].Nombre" value="{1}" class="form-control" readonly />', i, r.NombreUndOrg);
                        rows += sut.string.format('<div class="input-group-btn">');
                        rows += sut.string.format('<a href="javascript:sut.editarProcedimiento.openSelectUndOrgDinamico' + "('" + 'sut.editarProcedimiento.setUndOrgReconDinamico' + "',1,{0})" +'" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>', i, 0);
                        rows += sut.string.format('</div>');
                        rows += sut.string.format('</div>');
                        rows += sut.string.format('</td>');
                        rows += '<td style="width: 629px;">';
                        rows += '<div class="btn-group">';
                        rows += sut.string.format('<a class="btn btn-danger btn-xs" href="javascript:sut.editarProcedimiento.deletecargo({0},{1},{2})" ><i class="fa fa-close" ></i></a>', r.ProcedimientoUndOrgResponsableID,r.ProcedimientoId,r.UndOrgResponsableId2);
                        rows += '</div>';
                        rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].ProcedimientoUndOrgResponsableID" value="{1}" />', i, r.ProcedimientoUndOrgResponsableID);
                        rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].ProcedimientoId" value="{1}" />', i, r.ProcedimientoId);
                        rows += '</td>';

                        rows += '</tr>';


                        tabla.append(rows);


                    });
                    sut.editarProcedimiento.updatecargo();

                }
            },
            addcargo: (indexReq, indexForm,TablaAsmeId,ProcedimientoId) => {

                debugger;
                var tabla = $('#tablaReconsideracion1 tbody').eq(0);

                var i = $('#tablaReconsideracion1 tbody').eq(0).children('tr.requisito').size();

                var rows = '';
                rows += sut.string.format('<tr data-index="{0}" class="requisito" >', i);
                rows += '<td style="width: 310px;">';
                rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].ProcedimientoId" value="{1}" />', i, @Model.ProcedimientoId);
                rows += '</td>';

                rows += sut.string.format('<td style="text-align: center;">');
                rows += sut.string.format('<div class="input-group">');
                rows += sut.string.format('<input type="hidden" name="ProcedimientoUndOrgResponsable[{0}].UndOrgResponsableId2" value="{1}" />', i, 0);
                rows += sut.string.format('<input type="text" name="ProcedimientoUndOrgResponsable[{0}].Nombre" value="{1}" class="form-control" readonly />', i, '');
                rows += sut.string.format('<div class="input-group-btn">');
                rows += sut.string.format('<a href="javascript:sut.editarProcedimiento.openSelectUndOrgDinamico' + "('" + 'sut.editarProcedimiento.setUndOrgReconDinamico' + "',1,{0})" +'" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>', i, 0);
                rows += sut.string.format('</div>');
                rows += sut.string.format('</div>');
                rows += sut.string.format('</td>');
                rows += '</tr>';

                tabla.append(rows);
                sut.editarProcedimiento.updatecargo();
            },
            deletecargo: function (id,procedimiento,num) {
                debugger;
                var model = {
                    ProcedimientoUndOrgResponsableID: id,
                    ProcedimientoID: procedimiento,
                    orden: num
                }

                $.ajax({
                    //url: "/Simplificacion/UnidadOrganica/Eliminar",
                    url: '@Url.Content("~/Simplificacion/Procedimiento/EliminarReconsideracionProc")',
                    type: "POST",
                    data: model,
                    dataType: "json",
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        sut.wait.removeOverlay('#boxLista');
                        showNotification('top', 'right', 'Elimino con Éxito ', 1);
                                     window.location.reload();
                    },
                    error: function (data) {

                        $('#modal-ventana').modal('hide');
                        showNotification('top', 'right', 'Tienes Actividades Registradas que pertenecen a la Tablaasme favor de Eliminar ', 2);
                    }
                });

            },
            updatecargo: function () {

                var cont = 0;
                $.each($('#tablaReconsideracion1 tbody tr.requisito'), function (i, tr) {
                    $(tr).data('index', i);
                    $(tr).find('td span').html(i + 1);
                    $(tr).find('td input[name$="ProcedimientoUndOrgResponsableID"]').attr('name', sut.string.format('ProcedimientoUndOrgResponsable[{0}].ProcedimientoUndOrgResponsableID', i));
                    $(tr).find('td input[name$="ProcedimientoId"]').attr('name', sut.string.format('ProcedimientoUndOrgResponsable[{0}].ProcedimientoId', i));
                    $(tr).find('td input[name$="UndOrgResponsableId2"]').attr('name', sut.string.format('ProcedimientoUndOrgResponsable[{0}].UndOrgResponsableId2', i));
                });
            },

            guardarcategoria: function () {
                debugger;
                var inputs = $('#tblBuscarUndOrganicacat tbody tr td input:checked');
                var data = [];
                if (inputs.length > 0) {
                    $.each(inputs, function (i, r) {
                        var v = $(r).val().split('|');
                        data.push({ Codigo: v[0], Nombre: v[1] });
                    });
                }

                if (data == 0){

                    showNotification('top', 'right', 'Seleccionar por lo menos una categoria ', 2);
                    return;
                }



                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Simplificacion/procedimiento/guardarcategoria")',
                    data: { idexp: @Model.ExpedienteId, idpro:@Model.ProcedimientoId,  orden: data },
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {

                        $('#modal-ventana').modal('hide');

                        $('#exampleModal').modal('hide');
                        showNotification('top', 'right', 'Se Actualizo la información correctamente', 1);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });
            },

            salir: function (expediente) {
                $(location).attr('href', expediente);
            },
            setUndOrg: function (data) {
                $('#modal-ventana').modal('hide');
                $('input[name="UndOrgResponsableId"]').val(data.id);
                $('input[name="UndOrgResponsable.Nombre"]').val(data.nombre);
            },
            setUndOrgReconDinamico: function (data) {
                debugger;
                $('#modal-ventana').modal('hide');
                $('input[name="ProcedimientoUndOrgResponsable['+data.num+'].UndOrgResponsableId2"]').val(data.id);
                $('input[name="ProcedimientoUndOrgResponsable['+data.num+'].Nombre"]').val(data.nombre);
            },
            //setUndOrg2: function (data) {
            //    $('#modal-ventana').modal('hide');
            //    $('input[name="UndOrgResponsableId2"]').val(data.id);
            //    $('input[name="UndOrgResponsable.Nombre2"]').val(data.nombre);
            //},
            //setUndOrg3: function (data) {
            //    $('#modal-ventana').modal('hide');
            //    $('input[name="UndOrgResponsableId3"]').val(data.id);
            //    $('input[name="UndOrgResponsable.Nombre3"]').val(data.nombre);
            //},
            //setUndOrg4: function (data) {
            //    $('#modal-ventana').modal('hide');
            //    $('input[name="UndOrgResponsableId4"]').val(data.id);
            //    $('input[name="UndOrgResponsable.Nombre4"]').val(data.nombre);
            //},
            //setUndOrg5: function (data) {
            //    $('#modal-ventana').modal('hide');
            //    $('input[name="UndOrgResponsableId5"]').val(data.id);
            //    $('input[name="UndOrgResponsable.Nombre5"]').val(data.nombre);
            //}
        };

        $(function () {
            sut.editarProcedimiento.initcargo();
            sut.editarProcedimiento.listarcategoria('tblBuscarUndOrganicacat', 1);

            //sut.editarProcedimiento.listarcategoria('tblBuscarUndOrganicacat', 1);
            $('#form-editarnuevo').validate({
                errorPlacement: function (error, element) {
                    if (element.parent('div.input-group').length > 0) {
                        error.insertAfter(element.parent('div.input-group'));
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    Denominacion: {
                        required: true,
                        maxlength: 8000
                    },
                    'UndOrgResponsable.Nombre': {
                        required: true
                    }
                },
                messages: {

                }
            });

        });
    </script>
}
