@model Sut.Entities.Roles
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body form-horizontal">
            @using (Html.BeginForm("Guardar", "Seguridad/Roles", FormMethod.Post, new { @id = "form-modal-editar" }))
            {
                @Html.HiddenFor(model => model.RolId) 

                <div class="callout callout-warning" style="height: inherit;padding: inherit;display: block;">
                    Para efectos de comunicados y notificaciones formales: Los datos registrados en este apartado deben responder a la verdad y mantenerse actualizados, bajo responsabilidad de la Entidad y el Administrador del SUT
                </div>               

                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">Descripción:</label>
                    <div class="col-sm-9 col-xs-12">
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">Estado </label>
                    <div class="col-sm-9 col-xs-12">
                        @Html.DropDownListFor(model => model.Estado, ViewBag.publicar as List<SelectListItem>, new { @class = "form-control input-sm" })
                    </div>
                </div>
            }
        </div>
        <div id="msgEditar"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="sut.editarRoles.guardar()"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
        </div>

    </div>
</div>
<div class="modal fade" id="modal-ventana-editar">
    <div id="ventana-container-editar">
    </div>
</div>
<script>

    sut.editarRoles = {
        guardar: () => {
            debugger;

            if ($("#form-modal-editar").valid()) {
                var model = $('#form-modal-editar').serialize();
                $.ajax({
                    type: "POST",
                    //url: "/Seguridad/Miembro/Guardar",
                    url:'@Url.Content("~/Seguridad/Roles/Guardar")',
                    data: model,
                    dataType: 'json',
                    beforeSend: () => {
                        $("#msgEditar").hide();
                        sut.wait.appendProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).attr("disabled", "disabled");
                        $('#form-modal-editar button').eq(1).attr("disabled", "disabled");
                    },
                    complete: () => {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                    },
                    success: (result) => {
                        $('#modal-ventana').modal('hide');
                        sut.msg.success(result.mensaje, () => {
                            sut.Roles.listar(1);
                        });
                    },
                    error: (result) => {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                        sut.error.show('msgEditar', result.responseText);

                    },
                    statusCode: {
                        203: () => { window.location.reload(); }
                    }
                });
            }
        }
    };

    $(() => {



        $('#form-modal-editar').validate({

            errorPlacement: (error, element) => {
                if (element.parent('div.input-group').length > 0) {
                    error.insertAfter(element.parent('div.input-group'));
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {              
                Descripcion: 'required'
            },
            messages: {

            }
        });
    });
    $(function () {
        sut.control.uploadfile('form-archivo-adjunto');

    });

</script>

