@using ZXing;
@using ZXing.Common;
@using System.Drawing;
@model Sut.Entities.Expediente
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            <h4 class="modal-title">Información Adicional</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("GuardarOpcion", "Simplificacion/Expediente", FormMethod.Post, new { @id = "form-modal-editar" }))
            {
                @Html.HiddenFor(model => model.ExpedienteId)
                @Html.HiddenFor(model => model.LogoQR)
                <div class="table-responsive">
                    <table id="tblCanales" class="table table-condensed table-bordered table-striped">
                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td width="130px">Descripción :</td>

                                <td>
                                    @Model.Descripcion
                                    @*<textarea class="form-control input-sm" disabled="disabled" style="height:170px;width: 400px">@Model.Descripcion</textarea>*@
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>Fecha Creación :</td>
                                <td>@Model.FecCreacion  </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>Ordenar PA :</td>
                                <td>
                                    <div class="col-sm-7 col-xs-3" style="white-space: nowrap;">
                                        @Html.DropDownListFor(model => model.OrdenPa, ViewBag.ordenpas as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </td>

                            </tr>
                            @*JJJMSP4 INI*@
                            @if(Model.EstadoExpediente == Sut.Entities.EstadoExpediente.Publicado)
                            { 
                            <tr>
                                <td>
                                </td>
                                <td>Codigo QR de Expediente:</td>
                                <td>
                                    <div class="col-sm-7 col-xs-3" style="white-space: nowrap;">
                                        <img src="~/dist/img/QRCodeImages/@Model.LogoQR" alt="Imagen de QR" width="215" height="215" class="img-responsive center-block" />
                                    </div>
                                </td>
                            </tr>
                            }
                            <tr>
                                <td>
                                </td>
                                <td>Logo Entidad:</td>
                                <td>
                                    <div class="col-sm-7 col-xs-3" style="white-space: nowrap;">
                                        @if (Model.Entidad.Logoentidad != null)
                                        {
                                            <img src="~/dist/img/Logosentidades/@Model.Entidad.Logoentidad" alt="Imagen de entidad" width="215" height="215" class="img-responsive center-block" />
                                            @*/*Html.TextBoxFor(model => model.Entidad.Logoentidad, new { @class = "form-control input-sm", @readonly = "readonly", id = "Logoentidad" })
                                            <input type="file" id="fileInput" class="form-control input-sm" accept="image/*">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="sut.editarEntidad.subirlogo()"><i class="fa fa-save"></i> Subir Imagen</button>
                                            <p> (Tamaño max < = 02 MB, Forma: 215 px / 215 px) </p>*/*@
                                        }
                                        else
                                        { 
                                            <img src="~/dist/img/Logosentidades/sin-logo.jpg" alt="Sin Imagen de entidad" width="215" height="215" class="img-responsive center-block" />
                                        }
                                    </div>
                                </td>
                            </tr>
                            @*JJJMSP4 FIN*@
                        </tbody>
                    </table>
                </div>}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="sut.editarInfCondicion.activarOrden()"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
        </div>
    </div>
</div>
<script>
    sut.editarInfCondicion = {
        activarOrden: () => {
            debugger;

            if ($("#form-modal-editar").valid()) {
                var model = $('#form-modal-editar').serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Simplificacion/Expediente/activarinfcondicion")',
                    data: model,
                    dataType: 'json',
                    beforeSend: () => {
                        $("#msgEditar").hide();
                        sut.wait.appendProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).attr("disabled", "disabled");
                        $('#form-modal-editar button').eq(1).attr("disabled", "disabled");
                    },
                    complete: () => {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                    },
                    success: (result) => {
                        $('#modal-ventana').modal('hide');
                        sut.msg.success(result.mensaje, () => {
                            window.location.reload();
                        });
                    },
                    error: (result) => {
                        sut.wait.removeProgress('.modal-footer');
                        $('#form-modal-editar button').eq(0).removeAttr("disabled");
                        $('#form-modal-editar button').eq(1).removeAttr("disabled");
                        sut.error.show('msgEditar', result.responseText);
                    },
                    statusCode: {
                        203: () => {
                            window.location.reload();
                        }
                    }
                });
            }
        },
        /*JJJMSP4 INI*/
        subirLogoQR: () => {
                var model = $('#form-modal-editar').serialize();
                var user = '@(ViewBag.Usuario as Sut.Security.UsuarioInfo)';
                $.ajax({
                    url: "@Url.Content("~/Simplificacion/Expediente/ActivarLogoQRExpediente")",
                    type: "POST",
                    data: { idexpediente: @Model.ExpedienteId, user: user },
                    success: function (data) {
                        if (data.success) {
                            console.log("Se guardó logoQR.");
                        } else {
                            console.log("No se cargó archivo QR.");
                        }
                    },
                    error: function (data) {
                        sut.wait.removeProgress('.modal-footer');
                        sut.error.show('msgLogoQRsubir', data.responseText);
                    }
                });
        },
        /*JJJMSP4 FIN*/
        /*JJJMSP2 INI*/
        subirlogo: () => {
            var fileInput = document.getElementById("fileInput");
            var logoEntidadInput = document.getElementById("Logoentidad");
            var file = fileInput.files[0]; // Obtener el archivo seleccionado
            sut.error.show('msgEditar', "");
            if (file) {
                var maxFileSize = 2 * 1024 * 1024; // 2MB en bytes
                if (file.size > maxFileSize) {
                    console.log("El archivo es demasiado grande. El tamaño máximo permitido es 2MB.");
                    sut.error.show('msgEditar', ".  El archivo es demasiado grande. El tamaño máximo permitido es 2MB.");
                    return;
                }

                // Validar las dimensiones de la imagen (215x215 píxeles)
                var image = new Image();
                image.src = window.URL.createObjectURL(file);

                image.onload = function () {
                    if (image.width !== 215 || image.height !== 215) {
                        console.log("La imagen debe tener un tamaño de 215 x 215 píxeles.");
                        sut.error.show('msgEditar', ".  La imagen debe tener un tamaño de 215x215 píxeles.");
                        return;
                    }
                    var formData = new FormData();
                    formData.append("logoFile", file);
                    formData.append("entidadid", @Model.EntidadId);
                    $.ajax({
                        url: "@Url.Content("~/Seguridad/Entidad/SubirLogoEntidad")",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            //console.log("Se guardo archivo.");
                            if (data.success) {
                                var rutaLogo = data.message;
                                logoEntidadInput.value = rutaLogo;
                                //console.log("Se guardo logoentidad.");
                            } else {
                                console.log("No cargo archivo.");
                            }
                        },
                        error: function (data) {
                            sut.wait.removeProgress('.modal-footer');
                            sut.error.show('msgsubir', result.responseText);
                        }
                    });
                }
            } else {
                // No se seleccionó ningún archivo
                console.log("No se seleccionó ningún archivo.");
            }
        }
        /*JJJMSP2 FIN*/
    };

    $(() => {
        sut.editarInfCondicion.subirLogoQR();
    });
</script>

