@using Sut.Entities
@model List<RecursoCosto>
@{
    Expediente exp = ViewBag.Expediente as Expediente;
    Sut.Security.UsuarioInfo user = ViewBag.Usuario as Sut.Security.UsuarioInfo;
    List<Sut.Entities.Observacion> ObservacionCostoPersonal = ViewBag.ObservacionCostoPersonal as List<Sut.Entities.Observacion>;

    ViewBag.Icon = "fa fa-file-text-o";
    ViewBag.Title = "Sustento de Costos - Expediente " + exp.Codigo;
    ViewBag.Descripcion = "";
    var nombremultiple = ViewBag.nomoficial;
    
}

<div id="mensajes">
    @{Html.RenderPartial("_Error");}
</div>

<div class="box box-default">
    <div class="box-body">
        @{Html.RenderPartial("_MenuCostos", exp);}

        @*<div class="btn-group pull-right">
            <a href="javascript:sut.RecursoCosto.guardar()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</a>
        </div>*@
    </div>
</div>
 

@if (exp.EstadoExpediente == EstadoExpediente.Observado || exp.EstadoExpediente == EstadoExpediente.Subsanado || exp.EstadoExpediente == EstadoExpediente.Aprobado ||
                exp.EstadoExpediente == EstadoExpediente.Presentado)
{
    <div class="box box-danger">
        <div class="box-body">
            <div class="col-sm-12 col-xs-12" style="border-color:red">

                <div class="pull-left col-sm-12 col-xs-12">

                    <fieldset class="scheduler-border">
                        <legend>
                            Información Complementaria a la Observación
                            <a class="btn btn-danger btn-xs" id="aEditarObservarExp" href="javascript:sut.RecursoCosto.Observarexp.editarObservarExp();" data-toggle="tooltip" data-placement="right" title="Editar"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-primary btn-xs" id="aGuardarObservarExp" href="javascript:sut.RecursoCosto.Observarexp.guardarObservarExp(@exp.ExpedienteId);"><i class="fa fa-floppy-o"></i></a>
                            <a class="btn btn-danger btn-xs" id="aCancelarObservarExp" href="javascript:sut.RecursoCosto.Observarexp.CancelarObservarExp();"><i class="fa fa-ban"></i></a>
                            <label id="mensajedatos" style="font-size: 100%;font-weight: normal;" class="label-primary label"></label>
                        </legend>
                        <br />
                        <div class="form-group">
                            @if (ObservacionCostoPersonal != null)
                            {

                                var cont = 0;
                                var texto1 = "";
                                foreach (var item in ObservacionCostoPersonal)
                                {
                                    var nombre = "Nota de Ayuda " + nombremultiple;

                                    if (@item.Pantalla == nombremultiple && @item.NombreCampo == nombre)
                                    {
                                        cont = 1;

                                        if (@item.CodValidacion == "1")
                                        {

                                            <textarea rows="7" class="form-control" id="txtaObservarExp" style="border-color:red;background:#ff00002e;"> @item.Descripcion </textarea>
                                            cont = 1;
                                        }

                                    }
                                    else
                                    {

                                    }
                                }
                                if (cont == 0)
                                {

                                    <textarea rows="7" class="form-control" id="txtaObservarExp" style="border-color:red;background:#ff00002e;">  </textarea>
                                }

                                <script>
                                                    window.addEventListener("load", function () {

                                                        debugger;
                                                        if ($('#txtaObservarExp').val().trim() == "") {

                                                            document.querySelector('#mensajedatos').innerText = '';
                                                        } else {
                                                            if (@user.Rol == 8 || @user.Rol == 6 || @user.Rol == 7)
                                                                {
                                                                    document.querySelector('#mensajedatos').innerText = 'Se valido con éxito';
                                                                }
                                                                else
                                                                {
                                                                    document.querySelector('#mensajedatos').innerText = '';
                                                                }
                                                        }

                                                    });
                                </script>
                            }
                            else
                            {
                                <textarea rows="7" class="form-control" id="txtaObservarExp" style="border-color:red;background:#ff00002e;"> </textarea>
                            }
                        </div>

                    </fieldset>

                </div>

            </div>
        </div>
    </div>
}



<div id="boxLista" class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.TipoRecurso</h3>
        <div class="box-tools pull-right">
            <a href="javascript:void(0)" class="btn btn-box-tool" data-toggle="tooltip" data-placement="bottom" title="Se lista los recursos asginados a las actividades de las Tablas ASME-VM.">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form-recurso-costo" }))
        {
            <div class="table-responsive">
                <table id="tblLista" class="table table-bordered table-condensed table-striped" style="margin-bottom: 0px;font-size: 16px;">
                    <thead>
                        <tr>
                            <th style="width: 5%;"></th>
                            <th style="width: 20%;">Recurso</th>
                            <th style="width: 6%;">Cantidad</th>
                            <th style="width: 6%;">Unidad de Medida</th>
                            @if (ViewBag.Depreciacion)
                            {
                                <th style="width: 6%;">Costo Adquisición</th>
                                <th style="width: 6%;">% Depreciación</th>
                            }
                            <th style="width: 6%;">Costo Unitario</th>
                            <th style="width: 6%;">Costo Anual</th>
                            <th style="width: 14%;">Inductor</th>
                            <th style="width: 30%;">Doc. Sustento</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {



                                <tr>
                                    <td colspan="12">

                                        @*/*Inicio CostoPersonal*/*@
                                        <div class="form-group">
                                            <div class="col-sm-10 col-xs-12" style="text-align: left;">
                                                @if ((user.Rol == 8 || user.Rol == 6 || user.Rol == 7) && exp.EstadoExpediente != EstadoExpediente.EnProceso)
                                                {
                                                    @*/*botones unicos*/*@
                                                    <a class="btn btn-success btn-xs" style="display:none" id="aValidarObservarExpCostoPersonal_@i"  data-placement="right" title="Validar" href="javascript:sut.RecursoCosto.validarObservarExpCostoPersonal(@exp.ExpedienteId,@i,@Model[i].RecursoId,@Model[i].RecursoCostoId);"><i class="fa fa-thumbs-o-up"></i></a>

                                                    <a class="btn btn-info btn-xs" id="aObservarEditarExpCostoPersonal_@i"  data-placement="right" title="Observar" href="javascript:sut.RecursoCosto.observareditarExpCostoPersonal(@i);"><i class="fa fa-eye"></i></a>

                                                    <a class="btn btn-danger btn-xs" style="display:none" id="aCancelarGeneralExpCostoPersonal_@i" data-placement="right"  title="Quitar Validación" href="javascript:sut.RecursoCosto.CancelarGeneralExpCostoPersonal(@exp.ExpedienteId,1,@i,@Model[i].RecursoId,@Model[i].RecursoCostoId);"><i class="fa fa-power-off"></i></a>

                                                    <a class="btn btn-primary btn-xs" style="display:none" id="aAsignarGuardarObservarExpCostoPersonal_@i"   data-placement="right" title="Guardar" href="javascript:sut.RecursoCosto.asignarguardarObservarExpCostoPersonal(@exp.ExpedienteId,1,@i,@Model[i].RecursoId,@Model[i].RecursoCostoId);"><i class="fa fa-floppy-o"></i></a>
                                                    <a class="btn btn-danger btn-xs" style="display:none" id="aAsignarCancelarObservarExpCostoPersonal_@i"  data-placement="right" title="Cancelar" href="javascript:sut.RecursoCosto.asignarCancelarObservarExpCostoPersonal(@exp.ExpedienteId,1,@i,@Model[i].RecursoId,@Model[i].RecursoCostoId);"><i class="fa fa-power-off"></i></a>
                                                    @*/*botones Generados*/*@


                                                }
                                                <label id="mensajeCostoPersonal_@i" class="label-primary label" style="font-size: 100%;font-weight: normal;"></label>

                                                @if (ObservacionCostoPersonal.Count != 0)
                                                {
                                                    var cont = 0;
                                                    var texto1 = "";
                                                    foreach (var item in ObservacionCostoPersonal)
                                                    {
                                                        var nombre = nombremultiple + i;

                                                        if (@item.Pantalla == nombremultiple && @item.NombreCampo == nombre)
                                                        {
                                                            cont = 1;

                                                            if (@item.CodValidacion == "1")
                                                            {

                                                                texto1 = @item.Descripcion;
                                                            }
                                                            else

                                                            if (@item.CodValidacion == "4")
                                                            {
                                                                <script>
                                                                window.addEventListener("load", function () {
                                                                    valiarbotonesModalidad('CostoPersonal', @i);
                                                                    $("#mensajeCostoPersonal_" + @i).show();
                                                                    //$('#aValidarObservarExpCostoPersonal_' + @i + '').css("display", "none");
                                                                    if (@user.Rol == 8 || @user.Rol == 6 || @user.Rol == 7)
                                                                    {
                                                                        document.querySelector("#mensajeCostoPersonal_" + @i).innerText = 'Se valido con éxito';
                                                                    }
                                                                    else
                                                                    {
                                                                        $("#mensajeCostoPersonal_" + @i).hide();
                                                                    }
                                                                });
                                                                </script>
                                                            }
                                                            else if (@item.CodValidacion == "2")
                                                            {

                                                                <script>


                                                        window.addEventListener("load", function() {

                                                            observarbotonesModalidad('CostoPersonal', @i);
                                                            $("#mensajeCostoPersonal_" + @i).show();
                                                            if (@user.Rol == 8 || @user.Rol == 6 || @user.Rol == 7)
                                                            {
                                                                document.querySelector("#mensajeCostoPersonal_" + @i).innerText = 'Se observo con éxito';
                                                            }
                                                            else
                                                            {
                                                                $("#mensajeCostoPersonal_" + @i).hide();
                                                            }
                                              
                                                            debugger;
                                                            sut.RecursoCosto.textoobservacionCostoPersonal("@texto1.Replace("\n", " ")", "@item.Descripcion.Replace("\n", " ")", 4, "@exp.EstadoExpediente", @i);

                                                        });
                                                                </script>
                                                            }

                                                            else if (@item.CodValidacion == "5")
                                                            {
                                                                <script>
                                                                window.addEventListener("load", function () {
                                                                    canceladobotonesModalidad('CostoPersonal');
                                                                });
                                                                </script>
                                                            }
                                                            else if (@item.CodValidacion == "3")
                                                            {
                                                                <script>

                                                        window.addEventListener("load", function() {
                                                            @*sustentobotones('CostoPersonal',@i);
                                                            $("#mensajeCostoPersonal_" + @i).show();
                                                            document.querySelector("#mensajeCostoPersonal_" + @i).innerText  = 'Sustento';*@
                                                            if (@user.Rol == 8 || @user.Rol == 6 || @user.Rol == 7)
                                                            {
                                                            }
                                                            else
                                                            {
                                                                $("#mensajeCostoPersonal_" + @i).hide();
                                                            }
                                                            sut.RecursoCosto.textosustentoCostoPersonal("@item.Descripcion.Replace("\n", " ")", 4, "@exp.EstadoExpediente", @i);
                                                        });
                                                                </script>
                                                            }
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div id="divCostoPersonal">
                                            <table id="divCostoPersonal0_@i" class="table table-condensed table-bordered table-striped" style="margin-bottom: 0px;font-size: 14px;">
                                                <thead>
                                                    @*<tr>
                                                        <th style="width: 20%;background: #f9f9f9;"></th>
                                                        <th style="width: 6%;background: #f9f9f9;"></th>
                                                        <th style="width: 6%;background: #f9f9f9;"></th>
                                                        @if (ViewBag.Depreciacion)
                                                        {
                                                            <th style="width: 6%;background: #f9f9f9;"></th>
                                                            <th style="width: 6%;background: #f9f9f9;"></th>
                                                        }
                                                        <th style="width: 6%;background: #f9f9f9;"></th>
                                                        <th style="width: 6%;background: #f9f9f9;"></th>
                                                        <th style="width: 14%;background: #f9f9f9;"></th>
                                                        <th style="width: 30%;background: #f9f9f9;"></th>
                                                    </tr>*@
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        @*/*Fin*/*@
                                    </td>
                                </tr> 
                                 

                                <tr>
                                    <td></td>
                                    <td>@Model[i].Recurso.Nombre</td>
                                    <td>@Html.TextBoxFor(model => model[i].Cantidad, new { @class = "form-control input-sm", @min = 0, @readonly = true })</td>
                                    <td>@Model[i].Recurso.UnidadMedida.Nombre</td>
                                    @if (ViewBag.Depreciacion)
                                    {
                                        <td>@Html.TextBoxFor(model => model[i].CostoAdquisicion, new { @class = "form-control input-sm", @min = 0, @readonly = true })</td>
                                        <td><span>@Model[i].Recurso.TipoDepreciacion.Valor02</span>%</td>
                                    }
                                    <td>@Html.TextBoxFor(model => model[i].CostoUnitario, new { @class = "form-control input-sm", @min = 0, @readonly = true })</td>
                                    <td><span>0</span></td>
                                    <td>
                                        @Html.HiddenFor(model => model[i].ExpedienteId)
                                        @Html.HiddenFor(model => model[i].RecursoCostoId)
                                        @Html.HiddenFor(model => model[i].RecursoId)
                                        @Html.HiddenFor(model => model[i].CostoAnual)
                                        @*<select name="[@i].InductorId" class="form-control input-sm" disabled>
                                            @foreach (SelectListItem ind in ViewBag.ListaInductor)
                                            {
                                                string selected = ind.Value == Model[i].InductorId.ToString() ? "selected" : "";
                                                <option value="@ind.Value" @selected>@ind.Text</option>
                                            }
                                        </select>*@
                                        @{
                                            string Inductor = string.Empty;
                                            List<SelectListItem> lstInductor = ViewBag.ListaInductor as List<SelectListItem>;
                                            Inductor = lstInductor.FirstOrDefault(x => x.Value == (Model[i].InductorId).ToString()).Text;
                                           
                                        }

                                        @Html.TextBox("NombreInductor"+ i, Inductor, new { @class = "form-control", @readonly = true }) 


                                    </td>
                                    <td>@Html.TextBoxFor(model => model[i].DocSustento, new { @class = "form-control input-sm", @readonly = true }) </td>
                                    @Html.HiddenFor(model => model[i].Recurso.Nombre, new { id = "RecursoNombre" + i })
                                    @Html.HiddenFor(model => model[i].Cantidad, new { id = "Cantidad" + i })

                                    @Html.HiddenFor(model => model[i].CostoAdquisicion, new { id = "CostoAdquisicion" + i })
                                    @Html.HiddenFor(model => model[i].Recurso.TipoDepreciacion.Valor02, new { id = "Valor02" + i })


                                    @Html.HiddenFor(model => model[i].Recurso.UnidadMedida.Nombre, new { id = "RecursoUnidadMedidaNombre" + i })
                                    @Html.HiddenFor(model => model[i].CostoAnual, new { id = "CostoAnual" + i })
                                    @Html.HiddenFor(model => model[i].CostoUnitario, new { id = "CostoUnitario" + i })
                                    @*@Html.HiddenFor(model => model[i].Recurso.Nombre, new { id = "selected" + i })*@
                                    @Html.HiddenFor(model => model[i].DocSustento, new { id = "DocSustento" + i })
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="box-footer">
        <div class="pull-right">
            @*<a href="/Simplificacion/Configuracion/Resumen/@exp.ExpedienteId" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Volver</a>*@
            <a href="@Url.Content("~/Simplificacion/Configuracion/Resumen/")@exp.ExpedienteId" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Volver</a>
        </div>
    </div>
</div>

@section Style {
    <style type="text/css">
        #tblLista thead tr th {
            vertical-align: middle !important;
            text-align: center !important;
            font-size: 0.8em;
        }

            #tblLista thead tr th:nth-child(2),
            #tblLista thead tr th:nth-child(4),
            #tblLista thead tr th:nth-child(5) {
                width: 100px;
            }

            #tblLista thead tr th:nth-child(6) {
                width: 300px;
            }

        #tblLista tbody tr td {
            vertical-align: middle !important;
            text-align: center !important;
            font-size: 0.9em;
        }

            #tblLista tbody tr td:nth-child(3) {
                width: 120px;
                text-align: center !important;
            }

            #tblLista tbody tr td:nth-child(5) {
                text-align: right !important;
            }

            #tblLista tbody tr td input[type="text"] {
                text-align: right !important;
            }
    </style>

    @if (ViewBag.Depreciacion)
    {
        <style type="text/css">
            #tblLista thead tr th:nth-child(6),
            #tblLista tbody tr td:nth-child(7) {
                width: 100px;
                text-align: right !important;
            }
        </style>
    }
}

@section Script {
    <script>
        sut.RecursoCosto = {
            visualizarSustentoRecursoCosto: function (evt, input) {
                debugger;
                var key = window.Event ? evt.which : evt.keyCode;
                var chark = String.fromCharCode(key);
                var tempValue = input.value + chark;
                var id = input.id;
                var txt = $(evt.target);
                var valor = id.substring(14);
                $('#mensajeCostoPersonal_' + valor).hide();
                document.querySelector('#mensajeCostoPersonal_' + valor).innerText = '';
            },
            depreciacion: '@ViewBag.Depreciacion' == 'True',
            updateCalc: function () {
                var filas = $('#tblLista tbody tr');
                if (filas.size() > 0) {
                    $.each(filas, function (i, tr) {
                        var cantidad = Number($(tr).find('td input[name$="Cantidad"]').val());
                        if (!sut.RecursoCosto.depreciacion) {
                            var costoUnit = Number($(tr).find('td input[name$="CostoUnitario"]').val());
                            $(tr).find('td span').eq(0).html(sut.format.decimal(cantidad * costoUnit));
                            $(tr).find('td input[name$="CostoAnual"]').val(sut.format.decimal(cantidad * costoUnit));
                        } else {
                            var costoAdq = Number($(tr).find('td input[name$="CostoAdquisicion"]').val());
                            var tasa = Number($(tr).find('td span').eq(0).html())/100;
                            $(tr).find('td input[name$="CostoUnitario"]').val(sut.format.decimal(costoAdq * tasa)).attr('readonly', true);
                            $(tr).find('td span').eq(1).html(sut.format.decimal(costoAdq * tasa * cantidad));
                            $(tr).find('td input[name$="CostoAnual"]').val(sut.format.decimal(costoAdq * tasa * cantidad));
                        }
                    });
                }
            },

            guardar: function () {
                var valid = true;
                var inds = $('#tblLista tbody tr td select[name$="InductorId"] option:selected');
                $.each(inds, function (i, ind) {
                    if (Number($(ind).val()) == 0) valid = false;
                });

                if (!valid) sut.error.clientErrorShow('mensajes', 'Debe seleccionar un Inductor para cada Recurso.');

                if ($('#form-recurso-costo').valid() && valid) {
                    var model = $('#form-recurso-costo').serialize();
                    $.ajax({
                        type: 'POST',
                        //url: '/Simplificacion/Configuracion/GuardarRecursoCosto',
                        url:'@Url.Content("~/Simplificacion/Configuracion/GuardarRecursoCosto")',
                        data: model,
                        dataType: 'json',
                        beforeSend: function () {
                            $("#mensajes").hide();
                        },
                        complete: function () {

                        },
                        success: function (result) {
                            sut.msg.success(result.mensaje, function () {
                                window.location.reload();
                            });
                        },
                        error: function (result) {
                            sut.error.show('mensajes', result.responseText);
                        }
                    });
                }
            },

            init: function () {
                sut.RecursoCosto.updateCalc();
            },
            validarObservarExpCostoPersonal: function (idExpediente, numero,RecursoId,RecursoCostoId) {
                debugger;



                //var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#DocSustento'+numero).val();
                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();
                var NombreCampo = 'CostoPersonal';
                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': Descripcion,
                    'filtro.CodValidacion': '4',
                    'filtro.TipoEstado': '4',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };
                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/AgregarObservacion',
                    url:'@Url.Content("~/Simplificacion/Expediente/AgregarObservacion")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        debugger;
                        $('#modal-ventana').modal('hide');
                        //$('#aValidarObservarExp' + NombreCampo + '_' + numero + '').css("display", "none");
                        $('#aCancelarGeneralExp' + NombreCampo + '_' +  numero + '').css("display", "");

                        $('#aObservarEditarExp' + NombreCampo + '_' + numero + '').css({ "display": "none" });
                        $('#aMasivoObservarExp' + NombreCampo + '_' + numero + '').css({ "display": "none" });
                        $('#mensajeCostoPersonal_' + numero).show();
                        document.querySelector('#mensajeCostoPersonal_' + numero).innerText = 'Se valido con éxito';

                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            },
            CancelarGeneralExpCostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {
                debugger;

                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();
                var NombreCampo = 'CostoPersonal';


                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': Descripcion,
                    'filtro.CodValidacion': '4',
                    'filtro.TipoEstado': '4',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };


                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/CancelarObservacion',
                    url:'@Url.Content("~/Simplificacion/Expediente/CancelarObservacion")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        debugger;
                        $('#modal-ventana').modal('hide');


                        //$('#aValidarObservarExp' + NombreCampo +'_'+ numero + '').css("display", "");
                        $('#aObservarEditarExp' + NombreCampo + '_' + numero + '').css("display", "");
                        //$("#aSustentarObservarExpObjetivo").css("display","");
                        //$("#aMasivoObservarExpObjetivo").css("display","");

                        $('#aCancelarGeneralExp' + NombreCampo + '_' + numero + '').css({ "display": "none" });

                        $('#mensajeCostoPersonal_' + numero + '').hide();
                        document.querySelector('#mensajeCostoPersonal_' + numero + '').innerText = '';

                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            },
            observareditarExpCostoPersonal: function (num) {
                debugger;
                var tabla = $('#divCostoPersonal0_' + num + ' tbody');
                debugger;
                var NombreCampo = 'CostoPersonal';
                var rows = '';

                var monto0= sut.format.decimal($('#CostoAnual'+num).val() / 12);
                var monto1= sut.format.decimal(($('#CostoAnual'+num).val() / 12) / 14400);


                rows += sut.string.format('<tr data-index="{0}" id="trdivCostoPersonal0' + num + '">', num);
                rows +='<td style="width: 5%;"> Descripción: </td>';
                if ('@ViewBag.Depreciacion' == 'True') {
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 20%;">';
                    rows += $('#RecursoNombre' + num).val();
                    rows += '</td>';
                } else {
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 20%;">';
                    rows += $('#RecursoNombre' + num).val();
                    rows += '</td>';
                }

                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows +=sut.format.decimal($('#Cantidad'+num).val());
                rows += '</td>';
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows += $('#RecursoUnidadMedidaNombre'+num).val() ;
                rows += '</td>';
                debugger;
                if ('@ViewBag.Depreciacion' == 'True') {
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                     rows += $('#CostoAdquisicion' + num).val();
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows += $('#Valor02' + num).val();
                    rows += '</td>';
                 }

                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows +=sut.format.decimal($('#CostoUnitario'+num).val());
                rows += '</td>';
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows +=sut.format.decimal($('#CostoAnual'+num).val());
                rows += '</td>';
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 14%;">';
                rows += $('#NombreInductor'+num).val() ;
                rows += '</td>';
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 30%;">';
                rows += $('#DocSustento'+num).val() ;
                rows += '</td>';


                rows += sut.string.format('</tr>');

                rows += '<tr id="trdivCostoPersonal0_' + num + '">'
                rows +='<td style="width: 5%;"> Observar: </td>';
                rows += sut.string.format('<td colspan="12" ><textarea name="CostoPersonal2' + num + '" id="CostoPersonal2' + num + '" class="form-control" onkeypress="javascript:sut.RecursoCosto.visualizarSustentoRecursoCosto(event,this);" style="border-color:red;background:#ff00002e;"></textarea></td>', '');
                rows += '</tr>';;

                tabla.append(rows);

                $('#aAsignarGuardarObservarExp' + NombreCampo +'_'+ num + '').css({ "display": "" });
                $('#aAsignarCancelarObservarExp' + NombreCampo + '_' + num + '').css({ "display": "" });

                //$('#aValidarObservarExp' + NombreCampo + '_' + num + '').css("display", "none");
                $('#aCancelarGeneralExp' + NombreCampo + '_' + num + '').css("display", "none");
                $('#aObservarEditarExp' + NombreCampo + '_'+ num + '').css({ "display": "none" });
                $('#aMasivoObservarExp' + NombreCampo + '_' + num + '').css({ "display": "" });

                $('#trCostoPersonal_' + num + '').hide();
                //document.getElementById('#'+dato+'').style.visibility = "hidden";
                //visible
                //$('#' + dato + 'label').hide();

            },
            ///*trabajar*/
            asignarguardarObservarExpCostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {
                debugger;
                if ($('#CostoPersonal2' + numero).val().trim() == "") {

                    showNotification('top', 'right', 'No puedes Guardar una obseracion en blanco', 2);
                    return;
                }
                sut.RecursoCosto.GuardarObservarExp1CostoPersonal(idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId);
            },






             Observarexp: {
                comentario: "",
                editarObservarExp: function () {
                    $("#aEditarObservarExp").css({ "display": "none" });
                    $("#aGuardarObservarExp").css({ "display": "" });
                    $("#aCancelarObservarExp").css({ "display": "" });
                    $("#txtaObservarExp").prop("disabled", false);
                    comentario = $("#txtaObservarExp").val();
                    document.querySelector('#mensajedatos').innerText = '';
                },
                guardarObservarExp: function (idExpediente) {
                    if ($('#txtaObservarExp').val().trim() == ""){
                        showNotification('top', 'right', 'No puedes Guardar una obseracion en blanco', 2);
                        return;
                    }

                    var model = {
                        'filtro.ExpedienteId': idExpediente,
                        'filtro.Descripcion': $('#txtaObservarExp').val().trim(),
                        'filtro.CodValidacion': '1',
                        'filtro.TipoEstado': '1',
                       'filtro.NombreCampo':  'Nota de Ayuda @nombremultiple' ,
                       'filtro.Pantalla': '@nombremultiple',
                        'filtro.Estado': '1',

                    };

                    $.ajax({
                        type: "POST",
                        //url: '/Simplificacion/Expediente/AgregarObservacion',
                        url: '@Url.Content("~/Simplificacion/Expediente/AgregarObservacion")',
                        data: model,
                        cache: false,
                        beforeSend: function () {
                            sut.wait.modal('ventana-container');
                            $('#modal-ventana').modal('show');
                        },
                        success: function (data) {

                            $('#modal-ventana').modal('hide');
                            $("#aCancelarObservarExp").css({ "display": "none" });
                            $("#aGuardarObservarExp").css({ "display": "none" });
                            $("#aEditarObservarExp").css({ "display": "" });
                            $("#txtaObservarExp").prop("disabled", true);
                            document.querySelector('#mensajedatos').innerText = 'Se valido con éxito';
                        },
                        error: function (result) {
                            $('#modal-ventana').modal('hide');
                            sut.error.show('mensajes', result.responseText);
                        }
                    });

                    comentario = "";
                },
                CancelarObservarExp: function () {
                    $("#aCancelarObservarExp").css({ "display": "none" });
                    $("#aGuardarObservarExp").css({ "display": "none" });
                    $("#aEditarObservarExp").css({ "display": "" });
                    $("#txtaObservarExp").prop("disabled", true);
                    $("#txtaObservarExp").val(comentario);

                    if ($('#txtaObservarExp').val().trim() == "") {
                        document.querySelector('#mensajedatos').innerText = '';
                    } else {
                        document.querySelector('#mensajedatos').innerText = 'Se valido con éxito';
                        }


                }
            },









            GuardarObservarExp1CostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {

                debugger;

                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();
                var NombreCampo = 'CostoPersonal';


                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': Descripcion,
                    'filtro.CodValidacion': '1',
                    'filtro.TipoEstado': '1',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };

                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/AgregarObservacion',
                    url:'@Url.Content("~/Simplificacion/Expediente/AgregarObservacion")',
                    data: model,
                    cache: false,
                    success: function (data) {
                        sut.RecursoCosto.GuardarObservarExp2CostoPersonal(idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            },

            GuardarObservarExp2CostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {

                var NombreCampo = 'CostoPersonal';
                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': $('#CostoPersonal2' + numero).val(),
                    'filtro.CodValidacion': '2',
                    'filtro.TipoEstado': '2',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };
                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/AgregarObservacion',
                    url:'@Url.Content("~/Simplificacion/Expediente/AgregarObservacion")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        $('#modal-ventana').modal('hide');


                        $('#aCancelarObservarExp' + NombreCampo + '_' + numero + '').css("display", "none");
                        $('#aGuardarObservarExp' + NombreCampo + '_' + numero + '').css({ "display": "none" });
                        $('#aEditarObservarExp' + NombreCampo + '_' + numero + '').css({ "display": "" });

                        $('#mensajeCostoPersonal_' + numero).show();
                        document.querySelector('#mensajeCostoPersonal_' + numero).innerText = 'Se observo con éxito';


                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            } ,
            asignarCancelarObservarExpCostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {

                sut.RecursoCosto.CancelarObservacion1CostoPersonal(idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId);

            },
            CancelarObservacion1CostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {


                var NombreCampo = 'CostoPersonal';

                //var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#DocSustento'+numero).val();
                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();

                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': Descripcion,
                    'filtro.CodValidacion': '1',
                    'filtro.TipoEstado': '1',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla':'@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };

                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/CancelarDescripcion1',
                    url:'@Url.Content("~/Simplificacion/Expediente/CancelarDescripcion1")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {

                        sut.RecursoCosto.CancelarObservacion2CostoPersonal(idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId);
                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            },
            CancelarObservacion2CostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {



                var NombreCampo = 'CostoPersonal';
                //var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#DocSustento'+numero).val();
                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();

                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion':$('#CostoPersonal2' + numero).val(),
                    'filtro.CodValidacion': '2',
                    'filtro.TipoEstado': '2',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };


                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/CancelarDescripcion1',
                    url:'@Url.Content("~/Simplificacion/Expediente/CancelarDescripcion1")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {

                        sut.RecursoCosto.CancelarObservacion3CostoPersonal(idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId);

                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });

                comentario = "";
            },
            CancelarObservacion3CostoPersonal: function (idExpediente, procedimientoId, numero,RecursoId,RecursoCostoId) {


                //var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#DocSustento'+numero).val();
                var Descripcion = $('#RecursoNombre'+numero).val()+";:;"+$('#Cantidad'+numero).val()+";:;"+$('#RecursoUnidadMedidaNombre'+numero).val()+";:;"+$('#CostoUnitario'+numero).val()+";:;"+$('#CostoAnual'+numero).val()+";:;"+$('#NombreInductor'+numero).val()+";:;"+$('#DocSustento'+numero).val()+";:;"+$('#Valor02'+numero).val()+";:;"+$('#CostoAdquisicion'+numero).val();
                var NombreCampo = 'CostoPersonal';


                var model = {
                    'filtro.ExpedienteId': idExpediente,
                    'filtro.Descripcion': Descripcion,
                    'filtro.CodValidacion': '3',
                    'filtro.TipoEstado': '3',
                    'filtro.NombreCampo': '@nombremultiple' + numero,
                    'filtro.Pantalla': '@nombremultiple',
                    'filtro.Estado': '1',
                    'filtro.RecursoId': RecursoId,
                    'filtro.RecursoCostoId': RecursoCostoId,
                };

                $.ajax({
                    type: "POST",
                    //url: '/Simplificacion/Expediente/CancelarDescripcion1',
                    url:'@Url.Content("~/Simplificacion/Expediente/CancelarDescripcion1")',
                    data: model,
                    cache: false,
                    beforeSend: function () {
                        sut.wait.modal('ventana-container');
                        $('#modal-ventana').modal('show');
                    },
                    success: function (data) {
                        debugger;
                        $('#modal-ventana').modal('hide');

                        //document.getElementById('#'+dato+'').style.visibility = "hidden";
                        //visible
                        $('#trCostoPersonal_' + numero + '').show();

                        //$('#aValidarObservarExp' + NombreCampo + '_' + numero + '').css({ "display": "" });
                        $('#aObservarEditarExp' + NombreCampo + '_' + numero + '').css({ "display": "" });

                        $('#aAsignarGuardarObservarExp' + NombreCampo + '_' + numero + '').css({ "display": "none" });
                        $('#aAsignarCancelarObservarExp' +   NombreCampo + '_' + numero + '').css({ "display": "none" });


                        $('#trdivCostoPersonal0' + numero + '').remove();
                        $('#trdivCostoPersonal0_' + numero + '').remove();
                        $('#mensajeCostoPersonal_' + numero).hide();
                        document.querySelector('#mensajeCostoPersonal_' + numero).innerText = '';



                    },
                    error: function (result) {
                        $('#modal-ventana').modal('hide');
                        sut.error.show('mensajes', result.responseText);
                    }
                });


                comentario = "";
            },

            textoobservacionCostoPersonal: function (Descripcion, Descripcion2, estado, nomcampo, num) {
                debugger;

                var Des = Descripcion.split(";:;");
                var tabla = $('#divCostoPersonal0_' + num + ' tbody');
                debugger;
                //var Descripcion = $('#DesCostoPersonal' + num).val() + ";:;" + $('#chekCostoPersonal' + num).val() + ";:;" + $('#PreCostoPersonal' + num).val() + ";:;" + $('#CostoCostoPersonal' + num).val();
                var NombreCampo = 'CostoPersonal';
                var rows = '';
                rows += sut.string.format('<tr data-index="{0}" id="trdivCostoPersonal0' + num + '">', num);

                rows +='<td style="width: 5%;"> Descripción: </td>';
                if ('@ViewBag.Depreciacion' == 'True') {

                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 20%;">';
                    rows += Des[0];
                    rows += '</td>';
                } else {
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 20%;">';
                    rows += Des[0];
                    rows += '</td>';
                }
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows +=sut.format.decimal(Des[1]);
                rows += '</td>';
                rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                rows += Des[2];
                rows += '</td>';

                if ('@ViewBag.Depreciacion' == 'True') {
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows += Des[8];
                    rows += '</td>';
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows += Des[7];
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows += sut.format.decimal(Des[3]);
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows += sut.format.decimal(Des[4]);
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 14%;">';
                    rows += Des[5];
                    rows += '</td>';
                    rows += '<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 30%;">';
                    rows += Des[6];
                    rows += '</td>';
                } else {
                    rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows +=sut.format.decimal(Des[3]);
                    rows += '</td>';
                    rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 6%;">';
                    rows +=sut.format.decimal(Des[4]);
                    rows += '</td>';
                    rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 14%;">';
                    rows +=Des[5];
                    rows += '</td>';
                    rows +='<td style="border-color:#00a65a00;background:#00a65a36;border: 1px solid #f4f4f4;width: 30%;">';
                    rows += Des[6];
                    rows += '</td>';
                }

                rows += sut.string.format('</tr>');



                rows += '<tr id="trdivCostoPersonal0_' + num + '">'
                rows +='<td style="width: 5%;"> Observar: </td>';
                if (@user.Rol == 8 || @user.Rol == 6 || @user.Rol == 7)
                {
                  rows += sut.string.format('<td colspan="12" ><textarea name="CostoPersonal2' + num + '" id="CostoPersonal2' + num + '" onkeypress="javascript:sut.RecursoCosto.visualizarSustentoRecursoCosto(event,this);" class="form-control" style="border-color:red;background:#ff00002e;">{0}</textarea></td>', Descripcion2);

                }
                else
                {
                    rows += sut.string.format('<td colspan="12" ><label class="form-control" name="CostoPersonal2' + num + '" id="CostoPersonal2' + num + '"  style="text-align: initial;border-color:red;background:#ff00002e;font-weight: 600;height: 100%;" >{0}</label></td>', Descripcion2 );

                }
                rows += '</tr>';;

                tabla.append(rows);


                $('#aAsignarGuardarObservarExp' + NombreCampo +'_'+ num + '').css({ "display": "" });
                $('#aAsignarCancelarObservarExp' + NombreCampo + '_' + num + '').css({ "display": "" });

                //$('#aValidarObservarExp' + NombreCampo +'_'+ num + '').css("display", "none");
                $('#aCancelarGeneralExp' + NombreCampo +'_'+ num + '').css("display", "none");
                $('#aObservarEditarExp' + NombreCampo +'_'+ num + '').css({ "display": "none" });
                $('#aMasivoObservarExp' + NombreCampo +'_'+ num + '').css({ "display": "" });




                //if (estado == 'Presentado') {
                //    $('#' + nomcampo + '').hide();
                //    //document.getElementById('#'+dato+'').style.visibility = "hidden";
                //    //visible
                //    $('#' + nomcampo + 'label').hide();

                //} else {
                //    $('#' + nomcampo + '').show();
                //    //document.getElementById('#'+dato+'').style.visibility = "hidden";
                //    //visible
                //    $('#' + nomcampo + 'label').show();
                //}


            },
            textosustentoCostoPersonal: function (Descripcion2, estado, nomcampo, num) {


                var tabla = $('#divCostoPersonal0_' + num + ' tbody');

                var rows = '';
                var NombreCampo = 'CostoPersonal';

                rows += '<tr id="trdivCostoPersonal1_' + num + '">'
                rows += sut.string.format('<td style="width:100px;"> Sustento Observación</td>');
                //rows += sut.string.format('<td colspan="12" ><textarea name="CostoPersonal3' + num + '" id="CostoPersonal3' + num + '" class="form-control"  style="border-color:#f39c12;background:#f39c1259;" >{0}</textarea></td>', Descripcion2);
                rows += sut.string.format('<td colspan="12" ><label class="form-control"  name="CostoPersonal3' + num + '" id="CostoPersonal3' + num + '"  style="text-align: left;border-color:#f39c12;background:#f39c1259;font-weight: 600;height: 100%;" >{0}</label></td>', Descripcion2 );
                rows += '</tr>';

                tabla.append(rows);


                $('#aSustentarObservarExp'+NombreCampo+'_'+num+'').css({ "display": "none" });
                $('#aGuardarSustentarExp'+NombreCampo+'_'+num+'').css({ "display": "" });
                $('#aCancelarSustentarExp'+NombreCampo+'_'+num+'').css({ "display": "" });

            }
        };

        $(function () {
            sut.RecursoCosto.init();



            /*habilitar observación*/
            $("#aCancelarObservarExp").css({ "display": "none" });
            $("#aGuardarObservarExp").css({ "display": "none" });
            $("#aEditarObservarExp").css({ "display": "" });
            $("#txtaObservarExp").prop("disabled", true)

            debugger;
            if ($('#txtaObservarExp').val().trim() == "") {

                document.querySelector('#mensajedatos').innerText = '';
            } else {
                document.querySelector('#mensajedatos').innerText = 'Se valido con éxito';
            }


            $('#tblLista tbody tr td input[name$="Cantidad"],#tblLista tbody tr td input[name$="CostoUnitario"],#tblLista tbody tr td input[name$="CostoAdquisicion"]').on('change', function (e) {
                sut.RecursoCosto.updateCalc();
            })

            $('#form-recurso-costo').validate({
                errorPlacement: function (error, element) {
                    if (element.parent('div.input-group').length > 0) {
                        error.insertAfter(element.parent('div.input-group'));
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {

                },
                messages: {

                }
            });
        });

        function observarbotonesModalidad(NombreCampo, num) {
            $('#aAsignarGuardarObservarExp' + NombreCampo +'_'+ num + '').css({ "display": "" });
            $('#aAsignarCancelarObservarExp' + NombreCampo + '_' + num + '').css({ "display": "" });

            //$('#aValidarObservarExp' + NombreCampo + '_' + num + '').css("display", "none");
            $('#aCancelarGeneralExp' + NombreCampo + '_' + num + '').css("display", "none");
            $('#aObservarEditarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
            $('#aMasivoObservarExp' + NombreCampo + '_' + num + '').css({ "display": "" });
        }
        function valiarbotonesModalidad(NombreCampo, num) {
            //$('#aValidarObservarExp' + NombreCampo + '_' + num + '').css("display", "");
            $('#aCancelarGeneralExp' + NombreCampo + '_' + num + '').css("display", "");
            $('#aObservarEditarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
            $('#aMasivoObservarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
        }
        function canceladobotonesModalidad(NombreCampo, num) {
            $('#aAsignarGuardarObservarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
            $('#aAsignarCancelarObservarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
            //$('#aValidarObservarExp' + NombreCampo + '_' + num + '').css("display", "");
            $('#aCancelarGeneralExp' + NombreCampo + '_' + num + '').css("display", "none");
            $('#aObservarEditarExp' + NombreCampo + '_' + num + '').css({ "display": "" });
            $('#aMasivoObservarExp' + NombreCampo + '_' + num + '').css({ "display": "none" });
        }
        function sustentobotones(NombreCampo, num) {


            $('#aSustentarObservarExp'+NombreCampo+'_' + num + '').css({ "display": "none" });
            $('#aGuardarSustentarExp'+NombreCampo+'_' + num + '').css({ "display": "" });
            $('#aCancelarSustentarExp'+NombreCampo+'_' + num + '').css({ "display": "" });

        }

         function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            sut.MenuCostos = {
                visualizar: function (valor) {
                    debugger;
                    if(valor==0){
                       @*window.location = '/Simplificacion/Configuracion/CostoPersonal/@exp.ExpedienteId';*@
                       window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoPersonal/")@exp.ExpedienteId';
                    } else  if(valor==1){
                        @*window.location = '/Simplificacion/Configuracion/CostoMatFungible/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoMatFungible/")@exp.ExpedienteId';
                    } else  if(valor==2){
                        @*window.location = '/Simplificacion/Configuracion/CostoServIdentificable/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoServIdentificable/")@exp.ExpedienteId';
                    } else  if(valor==3){
                        @*window.location = '/Simplificacion/Configuracion/CostoMatNoFungible/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoMatNoFungible/")@exp.ExpedienteId';
                    } else  if(valor==4){
                        @*window.location = '/Simplificacion/Configuracion/CostoServTerceros/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoServTerceros/")@exp.ExpedienteId';
                    } else  if(valor==5){
                        @*window.location = '/Simplificacion/Configuracion/CostoDepreciacion/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoDepreciacion/")@exp.ExpedienteId';
                    } else  if(valor==6){
                        @*window.location = '/Simplificacion/Configuracion/CostoFijo/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/CostoFijo/")@exp.ExpedienteId';
                    } else  if(valor==7){
                        @*window.location = '/Simplificacion/Configuracion/ConfigInductor/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/ConfigInductor/")@exp.ExpedienteId';
                    } else  if(valor==8){
                        @*window.location = '/Simplificacion/Configuracion/FactorTupa/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/FactorTupa/")@exp.ExpedienteId';
                    } else  if(valor==9){
                        @*window.location = '/Simplificacion/Configuracion/Resumen/@exp.ExpedienteId';*@
                        window.location = '@Url.Content("~/Simplificacion/Configuracion/Resumen/")@exp.ExpedienteId';
                    }
                }
            };
    </script>
}
